@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --nav-color:#FAFAFA;
    --side-nav:#FFFFFC;
    --text-color:#000;
}

body{
    height: 100vh;
}

.container{
    max-width:1200px;
    margin:0 auto;
}

nav{
    height: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #f0f0f5;
}

nav .navbar{
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-inner{
    display: flex;
}

nav  .navbar .logo a{
    font-size:25px;
    font-weight:500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logoToggle{
    display:none;
}

nav .navbar .siderbarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding:5px;
    cursor: pointer;
    display: none;
}

.navbar .navLinks{
    display: flex;
    align-items: center;
}

.navbar .navLinks li{
    margin: 0 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.navLinks li a{
    position: relative;
    font-size:17px;
    font-weight:500;
    color: var(--text-color);
    text-decoration: none;

}
.navLinks li p{
    font-size:11px;
    font-weight:100;
    color: #888;
}

 /* dropdown */

.dropdown {
    float: right;
    overflow: hidden;
  }

  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropbtn i{
      color:#000;
  }
   
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content .dlinks {
    float: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight:300;
  }
    
  .show {
    display: block;
  }

.btn{
    background: none;
    padding: 4px 10px;
    border-radius:4px;
    color: gray;
    border: 1px solid gray;
    font-size: 12px;
    cursor: pointer;
}

/* navbar end */

.inputContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 40px  auto ;
}

.inputContainer .input{
    padding:8px;
    border:1px solid #ccc;
}
.inp1{
    width:270px;
}
.inp2{
    margin-left: -10px;
    width:400px;
}

.inputContainer .ads img{
    width: 200px;
}

/* big card ads */
.bigcard{
    position: relative;
    width: 100%;
    height:280px;
    background: linear-gradient(105.21deg,#3743ab 2.85%,#141b56 99.41%);
    display: flex;
    justify-content: space-between;
    max-width:1180px;
    margin: 40px auto;
    border-radius:30px
}
.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left:70px;
    margin-top: -40px;
    color: #fff;
}

.pcare{
    width: 240px;
    margin: 20px 0 ;
}

.content h1{
    font-weight: 700;
}

.content p{
    font-size:13px;
}

.content .btnCard{
    width:130px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background: #fff;
    font-weight: 700;
    margin-top: 20px;
}

.docImg {
    position: absolute;
    top: -36px;  
    right: 100px;
    height: calc(100% + 36px);

}

/* small cards */
.smallCards{
    max-width:1180px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px auto;
}
.card{
    position: relative;
    background: #fff;
    width:200px;
    height:300px;
    border-radius: 30px;
    box-shadow: 1px 4px 10px gray; 
    margin-top: 10px;
}

.card .imgSC{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background:lightblue;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
}

.card .imgSC .SCImg{
    position: absolute;
    bottom: 0;
    width: 70%; 
    right: 30px;
}

.SContent{
    position: absolute;
    left: 0;
    top: 60%;
    padding:10px 0 0 20px;
}
.SContent h1{
    font-size:18px;
}
.SContent p{
    padding-top: 10px;
    font-size: 13px;
}

/* cards end */

.circleContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.circleContent .CC h1{
    font-weight: 500;
}
.circleContent .CC p{
    font-size:14px;
    font-weight: 400;
}
.circleContent .Cbtn{
    height:40px;
    padding: 0 10px;
    background:none;
    border:1px solid rgb(90, 90, 221);
    color: rgb(79, 147, 192);
}

.circles{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    max-width:1180px;
    margin: 10px auto;
    flex-wrap: wrap;
}
.circle{
    width:180px;
    height:280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle img{
    width: 140px;
}
.contentCircle{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contentCircle a{
    text-decoration: none;
    color: rgb(13, 191, 197);
}
/* end circle */

.boxes{
    display: flex;
    margin-top: 20px;
    justify-content:space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.box{
    width: 270px;
}
.box img{
    width:300px;
    border-radius: 10px;
}

.box p{
    font-size:12px;
}
.boxContent h1{
    font-size: 24px;
    font-weight: 600;
}

.boxContent p{
    font-size:14px;
}

/* end box card */

.content2box{
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-width:1100px;
    margin: 70px auto;
    flex-wrap: wrap;
}

.articleBox{
    width: 300px;
    margin-bottom:20px;
}
.articleBox a{
    color: #fff;
    text-decoration: none;
}

.articleBox img{
    width:300px; 
    height:220px;
    border-radius:10px;
}
.articleBox button{
    margin-top:20px;
    padding:  10px 18px;
    background-color:rgb(47, 152, 201);
    border: none;
    border-radius: 4px;
    color: #fff;
}
.articleBox h1{
    font-size:28px;
    font-weight:700;
}
.articleBox p{
    font-size:14px;
}

.UpFooter{
    padding:  70px 0 ;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    background:rgb(232, 244, 248);
}

.UpFooter .UFImg img{
    margin-left:300px;
    width:320px;
}
.UpFooter .UFImg{
    flex: 1;
}

.UFContent{
    flex: 1;
    padding:0 80px;
}

.inpBtn input{
    width: 240px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(161, 165, 165);
    background:transparent;
}
.inpBtn h5{
    margin:20px 0;
}

.UFContent p{
    font-size:14px;
}

.inpBtn button{
    width: 120px;
    padding: 12px;
    background:rgb(43, 159, 226);
    border: none;
    color: #fff;
    border-radius:4px;
}

.appLogo img{
    width: 140px;
    height: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color:rgb(46, 46, 139);
    padding-top: 40px;
}
footer .linkContainer{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.linkContainer h1{
    color: #fff;
    font-size:18px;
}
.linkContainer ul li{
   list-style-type: none;
}

.linkContainer a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.linkContainer a:hover{
    border-bottom: 1px solid #fff;
}

.copyRight{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 60px 0;
}
.copyRight p{
    padding-top:30px;
    color: rgb(230, 224, 224);
    font-size: 14px;
}

.fixedContainer{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to right ,rgb(7, 41, 116) ,rgb(69, 107, 179));
    width:300px;
    border-radius:20px;
    height: 120px;
    display: flex;
    z-index: 1000;
}
.fixedContainer .left img{
    width:100px;
    padding: 10px ;
    margin-top: -20px;
}
.fixedContainer h1{
    font-size:14px;
    color:#fff;
    margin: -80px 10px;
}
.fixedContainer p{
    font-size:14px;
    color:#fff;
    margin: 80px 10px;
}
.fixedContainer button{
    background-color:rgb(36, 137, 184);
    margin-top: 30px;
    color:#fff;
    border: none;
    padding:3px;
    border-radius:3px;
}

.fixedContainer img{
    width:110px;
    height:140px; 
    position: relative;
    top: -20px;
}

@media (max-width: 1170px) {
    nav .navbar .siderbarOpen{
        display: block;
    }

    .inputContainer .ads img{
     display:none;
    }
    
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding:20px;
        background-color: var(--side-nav);
        z-index:100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active  .navbar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;

    }

    .menu .logoToggle{
        width: 100%;
        display: flex;
        align-items: center;
    }
   
    .logoToggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .navbar .navLinks{
        flex-direction: column;
        padding-top: 20px;
        align-items:flex-start;
    }
    .navLinks li a{
        display: block;
        margin-top:10px;

    }

    .UpFooter .UFImg img{
        width:200px;
       margin-left: 100px;
   }
}

@media (max-width: 560px) {
    .container{
        max-width:500px;
        margin:0 auto;
        padding:30px ;
    }

    .inputContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px  auto ;
    }
    .inputContainer .input{
        padding:8px;
    }
    .inp1{
        
        width:170px;
    }
    .inp2{
        margin-left: 0;
        margin-top: 4px;
        width:300px;
        border:1px solid #ccc;
    }
    .bigcard{
        display: none;
    }

    .fixedContainer{
        position:relative;
        top: 10px;
        right: 10px;
        z-index:-100;
    }
    .card{
        position: relative;
        background: #fff;
        width: 140px;
        height:200px;
        border-radius: 30px;
        box-shadow: 1px 4px 10px gray; 
        margin-top: 10px;
    }
    .SContent{
        padding: 0 0 0 20px;
    }

    .SContent h1{
        font-size:12px;
    }

    .SContent p{
        padding-top: 2px;
        font-size: 10px;
    }
    .SC3,.SC4,.SC5{
        width: 90px;
        height: 100px;
    }

    .SC3 p,.SC4 p,.SC5 p{
        display: none;
    }

    .SC3 img,.SC4 img,.SC5 img{
            left: 10px;
    }

    .circleContent .CC h1{
        font-size: 20px;
        font-weight: 400;
    }
    .circleContent .CC p{
        font-size:14px;
        font-weight: 300;
        margin-bottom:10px;
    }
    .circleContent .Cbtn{
        height:30px;
        padding: 0 10px;
        background:none;
        border:1px solid rgb(90, 90, 221);
        color: rgb(79, 147, 192);
    }

    .circles{
        margin-top:20px;
    }
    .circle{
        width:100px;
        height:140px;
    }

    .circle img{
        width: 70px;
    }

    .contentCircle p{
        font-size:14px;
    }

    .contentCircle a{
        font-size:12px;
    }

    .boxContent h1{
        font-size: 20px;
        font-weight: 400;
    }
    .box{
        margin-bottom:20px;
    }

    .articleBox{
        margin-bottom:20px;
    }
    .articleBox h1{
        font-size:20px;
        font-weight:400;
    }

    .articleBox button{
        margin-bottom:10px;
    }

    .appLogo img{
        margin-top: 10px;
        width: 100px;
    }


}



